.box-shadow(@params){
    box-shadow: @params;
    -webkit-box-shadow: @params;
    -moz-box-shadow: @params;
}

.clearfix {
	*zoom: 1;
	&:before,
	&:after {
		display: table;
		content: "";
		}
	&:after {
		clear: both;
		}
	}

html {
	background: white;
	}
        
ul{
    padding: 10px 0;
    color: #5b5b5b;
    list-style-type: none;
    border-bottom: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    li{
        border-left: 1px solid #e1e1e1;
        padding: 16px 0 11px 0;
        display: inline;     
        img{
            padding: 0 10px 0 15px;
            }
        span{
            margin: 0 15px 0 0;
            }
        }
    .search-button{
        margin: 0 0 0 135px;
        }
    }
a, h1, h2, h3, span, p, label, button, input, textarea {
    font-family: 'Roboto Condensed';
    text-decoration: none;
	}
body{
    margin: 0;
    padding: 0;
    }

.middle-container{
    width: 1024px;
    margin: 0 auto;
    }