.box-shadow(@params){
    box-shadow: @params;
    -webkit-box-shadow: @params;
    -moz-box-shadow: @params;
}

.clearfix {
	*zoom: 1;
	&:before,
	&:after {
		display: table;
		content: "";
		}
	&:after {
		clear: both;
		}
	}

html {
	background: white;
	}
.header{
    ul.info-header{
        padding: 1% 0;
        color: #5b5b5b;
        list-style-type: none;
        border-bottom: 1px solid #e1e1e1;
        border-right: 1px solid #e1e1e1;
        li{
            border-left: 1px solid #e1e1e1;
            padding: 1.6% 0 1.1% 0;
            display: inline;     
            img{
                padding: 0 1% 0 1.5%;
                }
            span{
                margin: 0 1.5% 0 0;
                }
            }
        .search-button{
            margin: 0 0 0 12.973%;
            }
        }
    ul.menu{
        padding: 1.6% 0 0 0;
        color: #5b5b5b;
        list-style-type: none;
        li{
            height: 45px;
            width: 9.5%;
            margin: 0 0 0 2.83%;
            text-align: center;
            display: inline-block;
            a{
                color: #434343;
                font-size: 14pt;
                }
            }
         li.active{
            a{
                color: #42c4f2;
                }
            border-bottom: #42c4f2 solid 3px;
            }
        .logo-menu{
            margin: 0 26.65% 0 0;
            vertical-align: middle;
            }
        }
    .path-to{
        margin: 15px 0 0 0;
        span{
            &:first-child{
                color: #22bcee;
                }
            }
        p.path-title{
            margin: 25px 0 10px 0;
            font-weight: bold;
            font-size: 22pt;
            }
        p.path-descr{
            font-size: 11pt;
            }
        }
    .image-main{
        height: 590px;
        width: 100%;
        background-image: url(../images/image-main.jpg);
        background-repeat: no-repeat;
        background-position: center;
        .image-main-container{
            p{
                position: relative;
                top: 70px;
                right: 18%;
                font-style: italic;
                font-size: 28pt;
                color: antiquewhite;
                text-align: right;
                }
            img{
                position: relative;
                top: 100px;
                left: 60%;
                }
            }
        }
    .catalog-product{
        margin: 50px 0 0 0;
        .catalog-product-image{
            float: left;
            margin: 0 50px 0 0;
            width: 430px;
            border: 1px solid grey;
            img{
                padding: 50px;
                }
            }
        .catalog-product-descr{
            float: right;
            width: 535px;
            margin: 0;
            text-align: left;
            p{
                &:first-child{
                    width: 236px;
                    margin: 0 0 5px 0;
                    padding: 0 0 10px 0; 
                    line-height: 15pt;
                    font-size: 25pt;
                    border-bottom: 1px solid grey;
                    }
                margin: 0 0 10px 0;
                }
            p.advantages{
                margin: 0;
                font-size: 17pt;
                line-height: 16pt;
                img{
                    vertical-align: top;
                    margin: 0 10px 10px 0;
                    }
                }
            p.advantage-descr{
                font-weight: bold;
                line-height: 1;
                }
            ul{
                li{
                    margin: 0 0 0 20px;
                    list-style: circle;
                    span{
                        font-weight: lighter;
                        color: black;
                        }
                    }
                }
            }
        }
    }
    a, h1, h2, h3, span, p, label, button, input, textarea {
    font-family: 'Roboto Condensed';
    text-decoration: none;
	}
body{
    margin: 0;
    padding: 0;
    }

.middle-container{
    width: 1024px;
    margin: 0 auto;
    .types-product{
        width: 100%;
        display: block;
        margin: -4.3% 0 0 0;
        .type-products{
            &:first-child{
                margin: 0 0 2% 0;    
                }
            margin: 0 0 2% 1.69%;
            float: left;
            width: 235px;
            border: 1px solid white;
            -webkit-box-shadow: 0px 4px 5px 0px rgba(230,230,230,0.8);
            -moz-box-shadow: 0px 4px 5px 0px rgba(230,230,230,0.8);
            box-shadow: 0px 4px 5px 0px rgba(230,230,230,0.8);
            border-radius: 3px;
            img{
                border-radius: 3px;
                }
            .name-type{
                background: white;
                display: inline-block;
                margin: -35px auto 10px 12px;
                width: 170px;
                padding: 15px 20px;
                border: 1px solid #00baf0;
                color: #00baf0;
                text-align: center;
                font-size: 11pt;
                }
            p{
                line-height: 14pt;
                margin: 10px auto 15px;
                text-align: center;
                width: 170px;
                }
            a{
                display: block;
                margin: 0 auto 20px;
                width: 170px;
                padding: 10px 15px;
                text-align: center;
                background: #dbe6e9;
                color: #aababf;
                &:hover{
                    color: white;
                    background: #00baf0;
                    }
                }
            }
        }
    .title{
        width: 340px;
        text-align: center;
        margin: 20px auto 0 auto;
        color: #00baf0;
        font-size: 22pt;
        div{
            margin: 10px auto;
            width: 100px;
            border: 1px solid #00baf0;
            border-radius: 2px;
            }
        }
    .badges{
        .badge{
            &:first-child{
                margin: 15px 0 20px 0;    
                }
            margin: 15px 0 20px 34px;
            float: left;
            text-align: center;
            width: 230px;
            .badge-title{
                color: #00baf0;
                font-size: 18pt;
                }
            p{
                margin: 10px 0;
                }
            }
        }
    }

.suggested-products{
    width: 98.7%;
    margin: 0 auto 0 10px;
    border: 1px solid grey;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    .slider{
        width: 95%;
        margin: 5% auto 0;
        overflow: hidden;
        ul.list-products{
            width: 2000px;
            position: relative;
            list-style-type: none;
            li{
                display: inline-block;
                text-align: left;
                float: left;
                margin: 0 60px 0 60px;
                width: 200px;
                img{
                    width: 200px;
                    height: 160px;
                    }
                p{
                    margin: 10px 0;
                    }
                .product-name{
                    font-weight: bold;
                    font-size: 13pt;
                    }
                .product-descr{
                    font-size: 10pt;
                    }
                a{
                    font-size: 11pt;
                    display: block;
                    width: 110px;
                    padding: 7px 10px;
                    text-align: center;
                    color: white;
                    background: #00baf0;
                    border-radius: 3px;
                    }
                }
            }
        }
    .to-catalog{
        display: inline-block;
        margin: 0px auto 35px;
        color: #00baf0;
        img{
            margin: 0 0 0 10px;
            vertical-align: middle;
            }
        }
    #slide-left, #slide-right{
        width: 19px;
        height: 31px;
        position: relative;
        cursor: pointer;
        }
    #slide-left{
        top: -155px;
        background-image: url(../images/slide-left.png);
        }
    #slide-right{
        top: -185px;
        left: 1015px;
        background-image: url(../images/slide-right.png);
        }
    }
.in-product{
    margin: 0;
    border: 0;
    }
.testimonials{
    margin: 50px 0;
    .news{
        margin: 0 44px 0 0;
        float: left;
        .all-news{
            margin: 45px 0 0 0;
            font-size: 11pt;
            display: block;
            width: 110px;
            padding: 7px 10px;
            text-align: center;
            color: #00baf0;
            border: 1px solid #00baf0;
            border-radius: 3px;
            background: white;
            border-radius: 3px;
            }
        .news-title{
            color: #00baf0;
            font-size: 22pt;
            div{
                margin: 10px 0;
                width: 100px;
                border: 1px solid #00baf0;
                border-radius: 2px;
                }
            }
        .news-card{
            width: 500px;
            margin: 25px 0;
            .blue-card{
                margin: 5px 25px 0 0;
                width: 72px;
                height: 72px;
                float: left;
                text-align: center;
                background-image: url(../images/blue-card.png);
                p{
                    text-align: center;
                    line-height: 16pt;
                    }
                p.day{
                    display: inline-block;
                    margin: 20px 0 0 0;
                    font-size: 30pt;
                    color: white;
                    }
                p.month{
                    color: white;
                    }                
                }
            .news-content{
                .news-name{
                    font-weight: bold;
                    }
                .news-text{
                    margin: 5px 0 0 0;
                    }
                }
            }
        }
    .feedbacks{
        display: inline-block;
        .feed-title{
            color: #00baf0;
            font-size: 22pt;
            div{
                margin: 10px 0;
                width: 100px;
                border: 1px solid #00baf0;
                border-radius: 2px;
                }
            }
        .feedback-card{
            .feedbacker{
                float: left;
                width: 78px;
                height: 78px;
                margin: 0 15px 0 0;
                border: 1px solid grey;
                img{
                    margin: 5px;
                    }
                }
            .feedback{
                margin: 15px 0 0 0;
                width: 480px;
                .quote-text{
                    img{
                        vertical-align: middle;
                        margin: 5px;
                        float: left;
                        }
                    font-style: italic;
                    color: #abaaaa;
                    height: 85px;
                    font-size: 11pt;
                    line-height: 1.4;
                    -webkit-line-clamp: 4;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    }
                .quote-author{
                    margin: 2px 0 5px 95px;
                    }
                }
            }
        .quote-up{
            background-image: url(../images/quote-up.png);
            }
        .quote-down{
            margin: 0 0 0 10px;
            background-image: url(../images/quote-down.png);
            }
        .quote-up, .quote-down{
            cursor: pointer;
            display: inline-block;
            height: 38px;
            width: 38px;
            }
        }
    }
.footer{
    .subscribe{
        background: #22bcee;
        ul.subscribe-form{
            padding: 2% 0;
            li{
                &:first-child{
                    color: white;
                    font-size: 16pt;
                    margin: 0 4% 0 0;
                    }
                display: inline;
                margin: 0 0 0 1.834%;
                input{
                    width: 220px;
                    padding: 8px 8px;
                    background: #51caf2;
                    border: 1px solid white;
                    border-radius: 3px;
                    &::-webkit-input-placeholder {
                        color: whitesmoke;
                        font-size: 10pt;
                        font-style: italic;
                        }
                    &:-moz-placeholder {
                        /* FF 4-18 */
                        color: whitesmoke;
                        font-size: 10pt;
                        font-style: italic;
                        }
                    &::-moz-placeholder {
                        /* FF 19+ */
                        color: whitesmoke;
                        font-size: 10pt;
                        font-style: italic;
                        }
                    &:-ms-input-placeholder {
                        /* IE 10+ */
                        color: whitesmoke;
                        font-size: 10pt;
                        font-style: italic;
                        }
                    }
                a{
                    font-size: 12pt;
                    width: 100px;
                    padding: 9px 10px;
                    text-align: center;
                    color: #00baf0;
                    border: 1px solid #00baf0;
                    border-radius: 3px;
                    background: white;
                    }
                }
            }  
        }
    .black-footer{
        height: 250px;
        background: #1b2123;
        img{
            float: left;
            margin: 2.5% 3% 0 0;
            }
        }
    .another-footer{
        height: 100px;
        ul.info-footer{
            padding: 3.7% 0;
            color: white;
            list-style-type: none;
            li{
                padding: 1.6% 0 1.1% 0;
                display: inline;     
                }
            img{
                margin: 0 1% -0.01% 1.5%;
                float: none;
                }
            }
        }
    }
.map{
    margin: 50px 0 0 0;
    width: 100%;
    height: 690px;
}
.tabs-section{
    margin: 50px 5px 50px 10px;
    padding: 50px 50px 35px 50px; ;
    border-radius: 3px;
    border: 1px solid grey;
    .tabs {
        width:100%;
        display:inline-block;
        }
    /*----- Tab Links -----*/
    /* Clearfix */
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
        }
    .tab-links{
        width: 1000px;
        }
    .tab-links li {
        padding: 15px 45px;
        border-bottom: 1px solid grey;
        border-radius:3px 3px 0px 0px;
        float:left;
        list-style:none;
    }
    .tab-links a {
        display:inline-block;
        border-bottom: 2px dashed #90c7d8;
        font-size:16px;
        font-weight:600;
        color:#90c7d8;
        }
    .tab-links a:hover {
        background:white;
        color: black;
        text-decoration:none;
        }
 
    li.active {
        border-top: 1px solid grey;
        border-right: 1px solid grey;
        border-left: 1px solid grey;
        border-bottom: 0;
        a{
            color:black;
            border: 0;
            }
    }
 
    /*----- Content of Tabs -----*/
    .tab-content {
        padding: 15px;
        .tab-content-bold{
            margin: 15px 0 0 0;
            font-weight: bold;
            font-size: 14pt;
            }
        p{
            line-height: 1;
            }
    }
 
    .tab {
        display:none;
        }
 
    .tab.active {
        width: 1000px;
        display:block;
        }
}